@import "variables.scss", "mixins.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $purple-bg;
    padding: 4rem 8rem 0;

    @media screen and (max-width: 600px) {
        padding: 4rem 4rem 0;
    }

    @media screen and (max-width: 400px) {
        padding: 4rem 3rem 0;
    }

    .logo {
        @include flexRow();
        width: 10rem;

        img {
            width: 100%;
        }

        @media screen and (max-width: 400px) {
            width: 8rem;
        }
    }

    nav {
        @include flexRow(1rem);
        align-items: center;

        a {
            @include transition;
            text-decoration: none;
            font-size: $paragraphFont;
            padding: 0.5rem 0;
            color: $white;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0%;
                height: 0.1875rem;
                background: $green;
                @include transition;
            }

            &:is(:hover, :focus, .active) {
                color: $green;
                &::after {
                    width: 100%;
                }
            }
        }
    }

    .search {
        display: flex;
        box-shadow: 5px 5px 10px #200634;
        input {
            width: 14.375rem;
            height: 2.75rem;
            padding: 0 1.6rem;
            font-size: 0.875rem;
            background: $dark-bg;
            border: none;
            border-radius: 0.25rem 0 0 0.25rem;
            outline: none;
            color: $light-purple;

            &::placeholder {
                color: $light-purple;
            }
        }

        .srcBtn {
            border: none;
            cursor: pointer;
            width: 4.375rem;
            height: 2.75rem;
            background: $button-bg;
            border-radius: 0 0.25rem 0.25rem 0;
        }
    }

    .hamburger-menu {
        cursor: pointer;
        display: none;

        .burger {
            display: block;
            background: $light-purple;
            width: 1.8rem;
            height: 0.1875rem;
            margin: 0.3125rem;
            @include transition;
        }
    }

    @media screen and (max-width: 1080px) {
        nav {
            @include flexColumn(1rem);
            align-items: center;
            justify-content: space-evenly;
            @include transition;
            width: 14rem;
            height: 50%;
            padding: 2rem;
            position: absolute;
            opacity: 0;
            top: 7.5rem;
            right: 8.5rem;
            background: $menu-bg;
            backdrop-filter: blur(1rem);
            border-radius: 1rem;

            @media screen and (max-width: 600px) {
                right: 4.5rem;
            }
        
            @media screen and (max-width: 400px) {
                right: 3.5rem;
            }

            &.active {
                opacity: 1;
            }

            .search {
                display: none;
            }
        }

        .hamburger-menu {
            display: block;

            &.active {
                .burger {
                    background: $green;

                    &:nth-child(1) {
                        transform: rotate(45deg) translateY(5px);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg) translateY(-6px);
                    }
                }
            }
        }
    }
}
