$purple-bg: #290742;
$dark-bg: #170027;
$button-bg: #9e6dc2;
$white: #fff;
$black: #000;
$light-purple: #fbf6ff; 
$green: #4fff4b;
$robotoFont: 'Roboto', sans-serif;
$poppinsFont: 'Poppins', sans-serif;
$paragraphFont: 1.125rem;
$lowParagraphFont: 1rem;